# AWS Configuration
AWS_REGION=ap-southeast-2
AWS_ACCOUNT_ID=350480401466
ECR_REPOSITORY=350480401466.dkr.ecr.ap-southeast-2.amazonaws.com/mock-server

# EC2 Configuration
EC2_HOST=3.107.253.171
EC2_USER=ubuntu
EC2_PORT=22
EC2_SSH_KEY="./ec2-key.pem"

# IAM Role (if using OIDC)
AWS_ROLE_TO_ASSUME=arn:aws:iam::350480401466:role/GitHubActionsRole